*{box-sizing: border-box;}

body{
	background: #333;
	color: white;
	font-family: sans-serif;
	line-height: 1.2em;
	display:flex;
	flex-wrap: wrap;
}
/*
navigation
*/
.sidebar{
		background:grey;
		flex: 1 1 20%;
		min-width: 300px;
		padding: 3em;
	}
.logo{
	text-transform: uppercase;
	margin-bottom: 2em;
	@media(min-width: 1500px ){
		margin-bottom: 5em;
	}
	span{
		font-weight: font-bold;
	}
}
.nav-item{
	color:#666;
	text-decoration: none;
	font-size: 1.7rem;
	display: inline-block;
	margin-right: 2em;
	@media(min-width: 1500px){
		display: block;
		margin: 7vh 0;
	}
	.active{
		color:#999;
	}
}
.main-content{
	
	padding: 10%;
	flex:1 1 80%;
	min-height: 100vh;
}
.portfolio{
	display: grid;
	height: 100%;
	grid-template-rows:repeat(6,1fr) ;
	grid-template-columns:repeat(5,1fr) ;
	grid-gap: 20px;
}
.portfolio-item{

	background:#F33 ;
	color:#333;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	
}
.portfolio-item.small{
	grid-row:span 1;
	grid-column:span 1;
}
.portfolio-item.medium{
		grid-row: span 2;
		grid-column:span 2;
	}
.portfolio-item.large{
	grid-row:span 3;
	grid-column:span 3;
	}
.portfolio-item.tall{
	grid-row:span 3;
	grid-column:span 2;
}
.portfolio-item.wide{
	grid-row:span 2;
	grid-column:span 3;
}
.two{
	background-image: url(img/1.jpg);
	color: lightgrey;
	text-shadow: 0 0 5px rgba(0,0,0,0.83);
	/*
	background-color:black;
	background-blend-mode: multiply;
	color:lightgrey;*/
	background-size: cover;

	background-position: top left;
	transition: 300ms all ease-in-out;
	position:relative;
	z-index: 10;
}
.two::before{
	content: '';
	display: block;
	background:lightgrey;
	opacity: 0.9;
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 300ms all ease-in-out;
	z-index: 9;
}
.two:hover::before{
	opacity: 0.2;
}